{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>

<!-- hero section End -->


    <div class="add-container">
        <h1>Add New Blog Post</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="add-btn">Add Blog</button>
            <a href="{% url 'blog' %}" class="back-btn mt-3">Back to Blog</a>
        </form>
        
    </div>
    
</body>
</html>