{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    <div class="container">
        <h1>Add New Blog Post</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <a href="{% url 'blog' %}" class="btn btn-secondary mt-3">Back to Blog</a>
    </div>
    
</body>
</html>