{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delete {{ item.name }} - Confirm</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
   

    <!-- header section -->
    <div id="header">
        <nav id="navbar">
            <h1>Madu Resturant</h1>
            <ul>
                <li><a href="{% url 'index' %}" id="home">Home</a></li>
                <li><a href="#menu">Menu</a></li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
                <li><a href="#chef">Chef</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="{% url 'add' %}">AddItem</a></li>
                <li><a href="{% url 'contact' %}" target="_blank">Contect</a></li>
                <li><a href="{% url 'add_blog' %}">Add Blog</a></li>
                
            </ul>
            <div id="phone">
                <a href="tel:++91234567892">+91234567892</a>
            </div>
        </nav>
        <div id="mobile_menu">
            <ul>
                <li><a href="{% url 'index' %}" id="home">Home</a></li>
                <li><a href="#menu">Menu</a></li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
                <li><a href="#chef">Chef</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="{% url 'add' %}">AddItem</a></li>
                <li><a href="{% url 'contact' %}" target="_blank">Contect</a></li>
                <li><a href="{% url 'add_blog' %}">Add Blog</a></li>
            </ul>
        </div>
    </div>

    <!-- header section end -->
    <div class="container">
        <h1>Are you sure you want to delete {{ item.name }}?</h1>
        <p>This action cannot be undone.</p>

        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Yes, Delete</button>
            <a href="{% url 'detail' item.id %}" class="btn btn-back">No, Go Back</a>
        </form>
    </div>
</body>
</html>
