{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- connect style.css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Detail item</title>
</head>

<body>
    <div id="header">
        <nav id="navbar">
            <h1>Madu Resturant</h1>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'edit' item.id %}">Edit</a></li>
                <li><a href="{% url 'delete' item.id %}">Delete</a></li>
                 <li><a href="{% url 'blog' %}">Blog</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="{% url 'contact' %}" target="_blank">Contect</a></li>
            </ul>
            <div id="phone">
                <a href="tel:++91234567892">+91234567892</a>
            </div>
        </nav>
        <div id="mobile_menu">
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'edit' item.id %}">Edit</a></li>
                <li><a href="{% url 'delete' item.id %}">Delete</a></li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
                <li><a href="">Chef</a></li>
                <li><a href="">About</a></li>
                <li><a href="{% url 'contact' %}">Contect</a></li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="item-detail">
            <div class="item-image">
                <img src="{{ item.image.url }}" alt="{{ item.name }}">
            </div>
            <div class="item-info">
                <h1>{{ item.name }}</h1>
                <h2>Price: ${{ item.price }}</h2>
                <p>{{ item.description }}</p>
                <hr>
                <h3>Place an Order</h3>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}  <!-- Display the order form with fields for name, email, phone, address, and quantity -->
                    <button type="submit" class="btn btn-primary">Order Now</button>
                </form>
                <a class="back-btn" href="{% url 'index' %}">Back to Menu</a>
            </div>
        </div>
    </div>

</body>

</html>